:root {
    --english: 'Welcome';
    --czech: 'Vitejte';
    --danish: 'Velkomst';
    --dutch: 'Welkom';
    --estonian: 'Tere tulemast';
    --finnish: 'Tervetuloa';
    --flemish: 'Welgekomen';
    --french: 'Bienvenue';
    --german: 'Willkommen';
    --irish: 'Failte';
    --italian: 'Benvenuto';
    --latvian: 'Gaidits';
    --lithuanian: 'Laukiamas';
    --polish: 'Witamy';
    --spanish: 'Bienvenido';
    --swedish: 'Valkommen';
    --welsh: 'Croeso';
  }
  
  /* Define the welcome function using CSS variables */
  @function welcome($language) {
    @if var(--#{$language}) {
      @return var(--#{$language});
    } @else {
      @return var(--english);
    }
  }
  
  /* Example usage */
  body::after {
    content: welcome('french');
  }
  